@* HOME BESTILLING *@

@using LyngbyBrygRepo.Models.R_Models
@using LyngbyBrygRepo.Models
@model LyngbyBrygRepo.Models.R_Models.OrdreDetaljerTabel_R
@{
    ViewBag.Title = "Bestilling";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form action="/Home/OrdreKategorier/" method="post" enctype="multipart/form-data">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h2>Bestilling</h2>
            </div>
        </section>

        <section class="row">
            <div class="col-md-12">
                <h4>Her kan du bestille øl</h4>
                <hr />
            </div>
        </section>

        <section class="row">
            <div class="col-md-12">
                <h4>Jeg ønsker 4 selvvalgte øl</h4>
            </div>
        </section>

        <section class="row">
            <div class="col-md-8">

                <select name="ProduktID">
                    <option disabled selected>Valg 1</option>
                    @foreach (ProduktKategoriJoin produktnavn in ViewBag.AlleProdukter)
                    {
                        <option value="@produktnavn.ID">@produktnavn.Navn</option>
                    }
                </select>
                <br />
                <select name="ProduktID">
                    <option disabled selected>Valg 1</option>
                    @foreach (ProduktKategoriJoin produktnavn in ViewBag.AlleProdukter)
                    {
                        <option value="@produktnavn.ID">@produktnavn.Navn</option>
                    }
                </select>
                <br />
                <select name="ProduktID">
                    <option disabled selected>Valg 1</option>
                    @foreach (ProduktKategoriJoin produktnavn in ViewBag.AlleProdukter)
                    {
                        <option value="@produktnavn.ID">@produktnavn.Navn</option>
                    }
                </select>
                <br />
                <select name="ProduktID">
                    <option disabled selected>Valg 1</option>
                    @foreach (ProduktKategoriJoin produktnavn in ViewBag.AlleProdukter)
                    {
                        <option value="@produktnavn.ID">@produktnavn.Navn</option>
                    }
                </select>

            </div>
        </section>

        <section class="row">
            <div class="col-md-12">
                <h4 style="text-align: right;">A' Prisen ... 180 kr</h4>
                <hr />
            </div>
        </section>

        <section class="row">
            <div class="col-md-8">
                <h4>Jeg ønsker bryggerens udvalgte</h4>
            </div>
        </section>

        <section class="row">
            <div class="col-md-8">

                <input type="checkbox" name="KategoriID" value="1" /> Lyse
                <input type="checkbox" name="KategoriID" value="2" /> Mørke
                <input type="checkbox" name="KategoriID" value="3" /> Mjød<br />
                <input type="checkbox" name="KategoriID" value="4" />  Røde
                <input type="checkbox" name="KategoriID" value="5" /> Special

            </div>
        </section>

        <section class="row">
            <div class="col-md-12">
                <h4 style="text-align: right;">A' Prisen ... 180 kr</h4>
                <hr />
            </div>
        </section>

        <section class="row">
            <div class="col-md-8">
                <h4>Ønsker du de udvalgte på abonnent, så kryds af her:</h4>
            </div>
        </section>

        <section class="row">
            <div class="col-md-8">

                @Html.CheckBoxFor(model => model.AbonnementID)

            </div>
        </section>

        <section class="row">
            <div class="col-md-12">
                <h4 style="text-align: right;">A' Prisen ... 180 kr om måneden</h4>
                <hr />
            </div>
        </section>

        <section class="row">
            <div class="col-md-12 center-block">
                <h4>Dine oplysninger</h4>

                <div class="messages"></div>
                <div class="controls center-block">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_name">Navn *</label>
                            <input id="form_name" type="text" name="navn" class="form-control" placeholder="Indtast venligst dit navn *" required="required" data-error="Dit fulde navn skal udfyldes.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_address">Adresse *</label>
                            <input id="form_address" type="text" name="address" class="form-control" placeholder="Indtast venligst din adresse *">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_email">Mail *</label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Indtast venligst din email *" required="required" data-error="Din email skal udfyldes">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_phone">Mobil *</label>
                            <input id="form_phone" type="text" name="phone" class="form-control" placeholder="Indtast venligst dit mobilnummer *" required="required" data-error="Din email skal udfyldes">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input type="submit" class="btn btn-outline-dark btn-send" value="Videre til betaling">
                    </div>

                </div>

            </div>
        </section>
    </div>
</form>