@using LyngbyBryghus.ViewModels

@model Forsiden

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <section class="row">
        <div class="col-md-12">
            <center><h1 id="indexheadline">Velkommen til Lyngby Bryghus' hjemmeside</h1></center>
            <hr />
        </div>
    </section>

    <section class="row">
        <div class="col-md-7">
            @foreach (var Nyhed in Model.Nyheder)
            {
                <h2 class="news">@Nyhed.Overskrift</h2>

                <h5>@Nyhed.Underoverskrift</h5>

                <p>@Nyhed.Indhold</p>


                <img class="newsimage" src="~/Content/Images/Nyheder/@Nyhed.Image"/>
              
            }
        </div>
     
        <div>
        
        </div>

    </section>

    @*OM OS*@

    <section class="row">
        <div class="col-md-12">
            <h2>@Model.Overskrift </h2>
        </div>
    </section>

    <section class="row">
        <div class="col-md-12 columns">
            <p>@Model.Indhold</p>
        </div>
    </section>

    <section class="row">
        <div class="col-md-12">
            <img class="img-fluid omosbillede" src="~/Content/Images/Generelt/Slide02.jpg" alt="Billede af øl under Om os"/>
        </div>
    </section>
</div>
















