@using LyngbyBryghus.ViewModels

@model Forsiden

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Velkommen til Lyngby Bryghus' hjemmeside</h1>

 
    @foreach(var Nyhed in Model.Nyheder)
    {
        <h2>@Nyhed.Overskrift</h2>

        <h6>@Nyhed.Underoverskrift</h6>

        <p>@Nyhed.Indhold</p>

        //mangler billede
    }

@*OM OS*@

<h2>@Model.Overskrift </h2>

<p>@Model.Indhold</p>






