@* HOME KONTAKT *@

@using LyngbyBrygRepo.Models
@model KontaktTabel

@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <section class="row">
        <div class="col-md-12">
            <h2>@Model.Overskrift</h2>
        </div>
    </section>

    <section class="row">
        <div class="col-md-7">
            <p>
                @Html.Raw(@Model.Tekst.Replace(Environment.NewLine, "<br />"))
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-md-2 text-center">
            <p>
                @Model.Adresse<br />
                @Model.Postnummer @Html.Raw(@Model.ByNavn.Replace(Environment.NewLine, "<br />"))
            </p>
        </div>
        <div class="col-md-10">
            <p>
                <img src="@Model.Billede" alt="Kontaktbillede" />
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-md-12">
            <p>
                Email: <a href="mailto:@Model.Mailadresse">@Model.Mailadresse</a><br />
                Telefon: <a href="tel:@Model.Mobil">@Model.Mobil</a>
            </p>
        </div>
    </section>
</div>