@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Vores Øl</h2>

@foreach (var item in Model)

{
    <h2>@item.Navn</h2> <br /> <br /> <br />

    <p><b>Øltype: @item.KategoriensNavn </b></p> <br />

    <p>
        <b> Styrke: </b> @item.Alkohol % <br />
        <b> Bitterhed: </b> @item.Bitterhed IBU <br />
        <b> Farve: </b> @item.Farve EBC <br />
        <b> Gærtype: </b> @item.Gaertype <br />
        
    </p>


    <p>@item.Beskrivelse</p>

    <p>@item.Pris Kroner</p>

        <img src="~/Content/Images/@item.Billede" alt="Produktbillede" />


}