@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-8 offset-md-2">
    <h1>Vores Øl</h1>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <h3>@item.Navn</h3> <br />
                <img class="maerkat" src="~/Content/Images/@item.Billede" alt="Produktbillede" />

                <p>
                    <b>Øltype:</b> @item.KategoriensNavn<br />
                    <b> Styrke: </b> @item.Alkohol % <br />
                    <b> Bitterhed: </b> @item.Bitterhed IBU <br />
                    <b> Farve: </b> @item.Farve EBC <br />
                    <b> Gærtype: </b> @item.Gaertype <br />

                </p>


                <p>@item.Beskrivelse</p>

                <p><b>@item.Pris kr.</b></p>
                <button class="bestil btn btn-dark">Tilføj til bestilling</button>
            </div>
        }
    </div>

</div>