@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Vores Øl</h2>

@foreach (var item in Model)

{
    <h3>@item.Navn</h3> <br />
    
    <p><b>@item.KategoriTabelNavn</b></p>
    
    <p><b>@item.Alkohol - @item.Bitterhed IBU - @item.Farve EBC - @item.Gærtype </b></p>


    <p>@item.Beskrivelse</p>

    <p>@item.Pris Kroner</p>

    <img src="~/Content/Images/@item.Billede"  alt="Produktbillede" />

}