@* HOME - ProduktDetaljer *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo.Models.R_Models;
@using LyngbyBrygRepo;
@model ProduktKategoriJoin


@{
    ViewBag.Title = "ProduktDetaljer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-md-2"></div>


    <h2>@Model.Navn</h2>


    <div class="detaljebillede">
        <img class="img-fluid maerkat" src="~/Content/Images/Produkter/@Model.Billede" alt="Produktbillede" />
    </div>

    <p>
        <b>Øltype:</b> @Model.KategoriensNavn<br />
        <b> Styrke: </b> @Model.Alkohol % <br />
        <b> Bitterhed: </b> @Model.Bitterhed IBU <br />
        <b> Farve: </b> @Model.Farve EBC <br />
        <b> Gærtype: </b> @Model.Gaertype <br />

    </p>


    <p>@Model.Beskrivelse</p>



</div>

<p><b>@Model.Pris kr.</b></p>
<a href="~/Home/Bestilling/" class="bestil btn btn-dark">Bestilling her</a> 