@* HOME - ProduktDetaljer *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo.Models.R_Models;
@using LyngbyBrygRepo;
@model ProduktKategoriJoin


@{
    ViewBag.Title = "ProduktDetaljer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">

        <h2>@Model.Navn</h2>
        <p class="info">
            <b>Øltype:</b> @Model.KategoriensNavn<br />
            <b> Styrke: </b> @Model.Alkohol % <br />
            <b> Bitterhed: </b> @Model.Bitterhed IBU <br />
            <b> Farve: </b> @Model.Farve EBC <br />
            <b> Gærtype: </b> @Model.Gaertype <br />
        </p>

        <p class="info">@Model.Beskrivelse</p>

    </div>

    <div class="col-md-3 offset-md-1">
        <img class="img-fluid maerkat" src="~/Content/Images/Produkter/@Model.Billede" alt="Produktbillede" />

        <p class="bestil1"><b class="bestil1">@Model.Pris kr.</b></p>
        <a href="~/Home/Bestilling/" class="bestil2 btn btn-dark">Bestilling her</a>
    </div>
</div>