@using LyngbyBryghus.ViewModels
@model ProduktVM


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<form method="post" action="/CMS/Produkt/Edit/" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="headlineh2">Navn</h2>
                
                <input type="text" name="Navn" class="" value="@Model.Produkter.Navn" />
                <br />
                <h2>Beskrivelse</h2>
         
                <textarea class="textarea" name="Main">@Model.Produkter.Beskrivelse</textarea>
                <h2 class="headlineh2">Kategori</h2>
                
                <select name="KategoriID">
                    @foreach (var lol in Model.Kategorier)
                    {
                        <option value="@lol.ID"@(Model.Produkter.KategoriID == lol.ID ? "selected" : null)>@lol.Navn</option>
                    }
                </select>
                @*<input type="text" name="KategoriID" class="inputs hdinput" value="@Model.KategoriID" />*@
                <br />
                <h2 class="headlineh2">Pris</h2>
                
                <input type="text" name="Pris" class="" value="@Model.Produkter.Pris" />
                <br />
                <h2 class="headlineh2">Alkohol</h2>
                <input type="text" name="Navn" class="" value="@Model.Produkter.Alkohol" />
                <br />
                <h2 class="headlineh2">Farve</h2>
                <input type="text" name="Farve" class="" value="@Model.Produkter.Farve" />
                <br />

            </div>
            <div class="col-sm-6">

                <h2 class="headlineh2">Bitterhed</h2>
                <input type="text" name="Bitterhed" class="" value="@Model.Produkter.Bitterhed" />
                <br />
                <h2 class="headlineh2">Gærtypen</h2>

                <input type="text" name="Gaertype" class="" value="@Model.Produkter.Gaertype" />
                <br />
                <h2>New Picture</h2>
                <input type="file" class="roleselect" name="Photo" />
                <br />
                <input type="hidden" value="@Model.Produkter.ID" name="ID" />
                <br />


                @if (Model.Produkter.Billede != null)
                {
                    <h2 class="currentimg"> Current Picture </h2>
                    <img src="~/Content/Images/Produkter/@Model.Produkter.Billede" width="300" />
                    <br />

                }
                <br />
                <button type="submit">Edit Produkt</button>
            </div>

        </div>
    </div>
</form>

