@using LyngbyBrygRepo
@model List<ProduktTabellen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h1>Produkter</h1>

<table>
    <thead>
        <tr>
            <td>Kategori</td>
            <td>Navn</td>
            <td>Beskrivelse</td>
            <td>Billede</td>
            <td>Pris</td>
            <td>Alkohol</td>
            <td>Farve</td>
            <td>Bitterhed</td>
            <td>Gærtype</td>
            <td><a href="/CMS/Produkt/AddNew"><button class="btn btntilfoej">Tilføj Produkt</button></a></td>
            <td></td>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KategoriID</td>
                <td>@item.Navn</td>
                <td>@item.Beskrivelse</td>
                <td>@item.Billede</td>
                <td>@item.Pris</td>
                <td>@item.Alkohol</td>
                <td>@item.Farve</td>
                <td>@item.Bitterhed</td>
                <td>@item.Gaertype</td>
                <td class="remove">
                    @if ((int)Session["rolle"] >= 1)
                    {
                        <a href="/CMS/Produkt/Delete/@item.ID"><button class="btn bredde" >Fjern</button></a>
                    }
                </td>

                <td class="rediger">
                    @if ((int)Session["rolle"] >= 1)
                    {
                        <a href="/CMS/Produkt/Edit/@item.ID"><button class="btn btnrediger">Rediger</button></a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>