@using LyngbyBrygRepo.Models
@model Nyhedstabel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<form method="post" action="/CMS/Nyheds/Edit/" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="headlineh2">Overskrift</h2>
                <br />
                <input type="text" name="Overskrift" class="inputs hdinput" value="@Model.Overskrift" />
                <br />
                <h2>Indhold</h2>
                <br />
                <textarea class="inputs" name="Indhold">@Model.Indhold</textarea>
                <h2 class="headlineh2">Underoverskrift</h2>
                <br />
                <input type="text" name="Underoverskrift" class="inputs hdinput" value="@Model.Underoverskrift" />
                <br />
                <h2 class="headlineh2">BrugerID</h2>
                <br />
                <input type="text" name="BrugerID" class="inputs hdinput" value="@Model.BrugerID" />
                <br />

            </div>
            <div class="col-sm-6">
                <h2>New Picture</h2>
                <br />
                <input type="file" class="roleselect" name="Photo" />
                <br />
                <input type="hidden" value="@Model.ID" name="ID" />
                <br />


                @if (Model.Image != null)
                {
                    <h2 class="currentimg"> Current Picture </h2>
                    <img src="~/Content/Images/Nyheder/@Model.Image" width="300" />
                    <br />

                }

            </div>

            <div class="col-sm-12">
                <button type="submit">Edit Nyhed</button>
            </div>
        </div>
    </div>
</form>

