@using LyngbyBrygRepo.Models;
@model  List<KontaktTabel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h1 class="text-center">Kontakt</h1>
<hr />

<table>
    <thead>
        <tr>
            <td>Overskrift</td>
            <td>Tekst</td>
            <td>Adresse</td>
            <td>Postnummer</td>
            <td>By navn</td>
            <td>Email</td>
            <td>Mobil</td>
            <td>Billed</td>
            <td><a href="#"><button class="btn alert-info disabled">Tilføj Kontakt</button></a></td>
            <td></td>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Overskrift</td>
                <td>@item.Tekst</td>
                <td>@item.Adresse</td>
                <td>@item.Postnummer</td>
                <td>@item.ByNavn</td>
                <td>@item.Mailadresse</td>
                <td>@item.Mobil</td>
                <td>@item.Billede</td>
                <td class="remove">
                    @if ((int)Session["rolle"] >= 1)
                    {
                        <a href="#"><button class="btn alert-danger disabled">Remove</button></a>
                    }
                </td>

                <td class="rediger">
                    @if ((int)Session["rolle"] >= 1)
                    {
                        <a href="/CMS/Kontakt/Edit/@item.ID"><button class="btn alert-primary">Edit</button></a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>